body{
    min-height: 100vh;
    margin: 0;
    display: grid;
    background-color: antiquewhite;
}

header{
    display: flex;
    flex-direction: column;
}

.logo{
    width: 25%;
    align-self: center;
}

.buttons{
    display: flex;
    justify-content: space-around;
}

.buttons h1{
    background-color: rgb(0, 192, 192);
    text-align: center;
    color: rgb(119, 119, 119);
    border: 2px solid rgb(0, 0, 0);
    flex: 1;
    transition-duration: 0.15s;
}

.buttons h1:hover{
    background-color: aqua;
}

h2{
    text-align: center;
}

.buttons a{
    text-decoration: none;
    color: black;
    transition-duration: 0.15s;
}

.buttons a:hover{
    color: white;
}

.salg{
    text-decoration: line-through; 
}

.epic{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 25px 25px;
    grid-auto-rows: 800px;
    grid-template-columns: 1fr 2fr 1fr;
}

article{
    display: flex;
    background-size: cover;
    background-position: center;
    padding: 1rem;
    color: white;
    font-size: 70%;
    transition: 0.35s;
    align-items: flex-end;
}

article:hover{
    flex: 3;
    font-size: 150%;
}

.produktinfo{
    align-items: center;
    display: flex;
    grid-template-columns: 25% 25%;
    gap: 25px 25px;
    grid-auto-rows: 700px;
    grid-template-columns: 1fr 2fr 1fr;
    justify-content: center;
}

.produktinfo img{
    width: 25%;
}

.produktinfo h1{
    text-align: center;
}

.en{
    color: white;
    background-image: url("cool.png");
}
.to{
    color: white;
    background-image: url("diamond.jpg");
}
.tre{
    color: rgb(202, 255, 57);
    background-image: url("epic.jpg");
}
.fire{
    color: white;
    background-image: url("epic.jpg");
}
.fem{
    color: white;
    background-image: url("goober.png");
}
.seks{
    color: white;
    background-image: url("jordan.webp");
}

footer {
    min-height: 50px;
    background: rgb(124, 115, 101);
    padding: 5px;
}